<div id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-md-6">
            <fa name="phone"></fa><span>+961 1 877 417</span>
          </div>
          <div class="col-md-6">
              <fa name="envelope"></fa><span>info@changanlb.com</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="iconsparent">
          <fa name="facebook"></fa>
          <fa name="instagram"></fa>
        </div>
      </div>
    </div>
  </div>
</div>
