* {
  color: white;
  font-family: NexaLight;
}

fa {
  font-size: 20px;
}

div#header {
  padding: 5px 0;
  background-color: #1C2D66;
}

span {
  margin-left: 10px;
}

.iconsparent {
  float: right;
}

.iconsparent fa {
  margin-right: 20px;
}

@media (max-width: 991px) {
  fa {
    font-size: 15px;
  }
  span {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .iconsparent {
    float: left;
  }
}
