div#nav-bar {
  background-color: rgba(255, 255, 255, 0.8);
}

/* OVERRIDE */

nav {
  background-color: transparent !important;
}

div.navbar-collapse {
  justify-content: center;
}

a {
  margin: 0 10px;
  color: #1C2D66 !important;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

a:hover {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  color: grey !important;
}

a.navbar-brand {
  padding: 0 !important;
}

img#logo {
  width: 100px;
  max-width: 100px;
}

#banner {
  position: relative;
  background-image: url('assets/images/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 95vh;
}

.left-triangle {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 50vw solid white;
  position: absolute;
  bottom: 0;
}

.right-triangle {
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-bottom: 0px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
  border-right: 50vw solid white;
}
