<div id="banner">
  <div id="nav-bar">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img id="logo" src="assets/icons/changan-logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [collapse]="isCollapsed">
          <div class="navbar-nav">
              <a *ngFor="let section of navArray" href="#" class="nav-item nav-link">
                  {{section.name}}
              </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="left-triangle"></div>
  <div class="right-triangle"></div>
</div>


