/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'NexaLight';
    src: url('assets/fonts/nexa_light/nexalight.otf') format('opentype');
  }
  
  @font-face {
      font-family: 'NexaBold';
      src: url('assets/fonts/nexa_bold/nexabold.otf') format('opentype');
  }

  ul.specs{
      margin-top: 10px;
      padding: 0;
      list-style: none;
  }
  ul.specs li {
      font-weight: lighter;
      text-align: center;
  }