#offer {
  padding: 50px 0px !important;
}

h2 {
  color: #1C2D66;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
}

h4 {
    text-align: center;
  font-weight: lighter;
  margin-top: 10px;
}

.col-4 {
  padding: 0;
}

.offer {
  display: flex;
  min-height: 400px;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
}

.selected {
  z-index: 2;
  position: relative;
  transform: translate(-4%, -4%);
  background-color: white !important;
  box-shadow: 0px 0px 13px 3px;
  min-height: 110%;
  width: 110%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

ul {
  list-style: none;
}

li {
  text-align: center;
  font-weight: lighter
}

img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
