<div id="offer">
  <div class="container">
    <h2>OUR BEST OFFERS</h2>
    <div class="slides">
      <!-- <div *ngFor="let offer of offers" (click)="changeSelected(offer.title)" [ngClass]="selected === offer.title ? 'selected':''"> -->
      <!-- <div *ngFor="let offer of offers" (click)="changeSelected(offer.title)">
        {{offer.title}}
        <img src="{{offer.image}}" alt="offer-image">
      </div> -->
      <div class="row">
        <div class="col-4" *ngFor="let offer of offers" (click)="changeSelected(offer.title)">
          <div class="offer" [ngClass]="selected === offer.title ? 'selected':''">
            <h3>
              {{offer.title}}
            </h3>
            <img src="{{offer.image}}" alt="offer-image">
            <h4 *ngIf="selected === offer.title">{{offer.caption}}</h4>
            <div [innerHtml]="offer.specs"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

